body.imm-demo-sections {
  background-color: #43433b; }
  body.imm-demo-sections header {
    background-color: #D1C4E9; }
  body.imm-demo-sections #section-1 {
    background-color: #2196F3; }
  body.imm-demo-sections #section-2 {
    background-color: #536DFE; }
  body.imm-demo-sections #section-3 {
    background-color: #673AB7; }
