body#imm-demo-sections {
  background-color: #43433b; }
  body#imm-demo-sections header {
    background-color: #D1C4E9; }
  body#imm-demo-sections #section-1 {
    background-color: #2196F3; }
  body#imm-demo-sections #section-2 {
    background-color: #536DFE; }
  body#imm-demo-sections #section-3 {
    background-color: yellow;
    padding: 100px 0; }
  body#imm-demo-sections #section-3-and-a-bit {
    background-color: #999900;
    padding: 100px 0; }
  body#imm-demo-sections #section-4 {
    background-color: #7446c4; }
  body#imm-demo-sections #section-5 {
    background-color: #fbe8c7; }
  body#imm-demo-sections nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px; }
    body#imm-demo-sections nav .imm-mute {
      float: right;
      height: 50px; }
    body#imm-demo-sections nav ul {
      float: right; }
      body#imm-demo-sections nav ul li {
        display: inline-block; }
        body#imm-demo-sections nav ul li a {
          display: inline-block;
          cursor: pointer;
          height: 50px;
          line-height: 50px;
          padding: 0 1em;
          color: white; }
          body#imm-demo-sections nav ul li a.current {
            font-weight: bold; }
