@import 'compass';
@import 'compass/layout';

.imm-scroll-container {
  @include stretch(0, 0, 0, 0);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.imm-fullscreen {
  height: 100vh;
}