@import 'compass';
@import 'compass/layout';

.imm-scroll-container {
  @include stretch(0, 0, 0, 0);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.imm-section {
  height: 100vh; overflow: hidden; position: relative;
}


.imm-video {
  @include stretch(0, 0, 0, 0); overflow: hidden;
  @include background-size(cover);
  background-repeat: no-repeat;
}