header {
  background-color: #D1C4E9;
}

#section-1 {
  background-color: #2196F3;
}

#section-2 {
  background-color: #536DFE;
}

#section-3 {
  background-color: #673AB7;
  height: 5000px;
}

$nh: 50px;

nav {
  position: fixed; top: 0; left: 0;
  width: 100%; height: $nh;
  .imm-mute { float: right; height: $nh;}
  ul {
    float: right;
    li {
      display: inline-block;
      a {
        display: inline-block; cursor: pointer;
        height: $nh; line-height: $nh;
        padding: 0 1em; color: white;
        &.current {
          font-weight: bold;
        }
      }
    }
  }
}