/*
Plugin: Immerse.js
Component: Tooltips
Description: Adds tooltips to any element with -tooltip class
Version: 1.0.0
Author: Will Viles
Author URI: http://vil.es/
*/

$defaultColor: darken(white, 5%);
$minWidth: 250px;
$pointerSize: 8px;

[data-#{$prefix}-tooltip] {
  position: relative; cursor: pointer; // border-bottom: 2px solid darken(white, 10%);
  .#{$prefix}-tooltip {
    display: none;
    position: absolute; width: auto;
    padding: .5em; background-color: $defaultColor; @include border-radius(5px);
    font-size: .8em;
    min-width: $minWidth;
    &:before { content: ''; position: absolute; width: 0; height: 0; }
    &.top, &.bottom {
      left: 50%; @include translateX(-50%);
      &:before { left: 50%; margin-left: -5px; }
    }
    &.left, &.right {
      top: 50%; @include translateY(-50%);
      &:before { top: 50%; margin-top: -5px; }
    }
    &.top {
      bottom: 100%; margin-bottom: $pointerSize;
      &:before {
        top: 100%;
      	border-left: $pointerSize solid transparent; border-right: $pointerSize solid transparent;
      	border-top: $pointerSize solid $defaultColor;
      }
    }
    &.bottom {
      top: 100%; margin-top: $pointerSize;
      &:before {
        bottom: 100%;
      	border-left: $pointerSize solid transparent; border-right: $pointerSize solid transparent;
      	border-bottom: $pointerSize solid $defaultColor;
      }
    }
    &.left {
      right: 100%; margin-right: $pointerSize * 1.75;
      &:before {
        left: 100%;
      	border-top: $pointerSize solid transparent; border-bottom: $pointerSize solid transparent;
      	border-left: $pointerSize solid $defaultColor;
      }
    }
    &.right {
      left: 100%; margin-right: $pointerSize * 1.75;
      &:before {
        right: 100%;
      	border-top: $pointerSize solid transparent; border-bottom: $pointerSize solid transparent;
      	border-right: $pointerSize solid $defaultColor;
      }
    }
  }
  &:hover .#{$prefix}-tooltip {
    display: block;
  }
}

[data-#{$prefix}-tooltip-content] { display: none; }