/*
Plugin: Immerse.js
Component: Videos
Description: Adds video backgrounds to any element with -video class
Version: 1.0.0
Author: Will Viles
Author URI: http://vil.es/
*/

[data-#{$prefix}-video] {
  @include stretch(); overflow: hidden;
  @include background-size(cover);
  background-repeat: no-repeat;
}