@import 'compass';
@import 'compass/layout';

$prefix: 'imm';

/* Scaffold */

body::-webkit-scrollbar { width: 0 !important; }

.#{$prefix}-section { position: relative; overflow: hidden; }

.#{$prefix}-section.#{$prefix}-fullscreen {
   height: 100vh;
  .#{$prefix}-vertcenter { position: absolute; top: 50%; left: 0; width: 100%; @include translateY(-50%); }
}

.#{$prefix}-loading {
  @include stretch(); position: fixed; background-color: white; z-index: 1001;
}

/* Default Components */

@import 'components/modals';
@import 'components/tooltips';
@import 'components/videos';