@import 'compass';
@import 'compass/layout';
@import 'mixins';

// Namespace
$prefix: 'imm';

// Breakpoints
$lg-desktop-break: 1200px;
$md-desktop-break: 992px;
$tablet-break: 768px;
$mobile-break: 480px;

/* Scaffold */

body::-webkit-scrollbar { width: 0 !important; }

[data-#{$prefix}-section] { position: relative; overflow: hidden; }

[data-#{$prefix}-section].#{$prefix}-fullscreen {
   height: 100vh;
  .#{$prefix}-vertcenter { position: absolute; top: 50%; left: 0; width: 100%; @include translateY(-50%); }
}

[data-#{$prefix}-page].#{$prefix}-blur {
  @include filter(blur(3px));
}

/* Default Styles */

@import 'loading';
@import 'navigation';

/* Default Components */

@import 'components/modals';
@import 'components/tooltips';
@import 'components/videos';