@font-face {
	font-family:'HeavyItalic';
	src: url('assets/fonts/HeavyItalic.eot');
	src: url('assets/fonts/HeavyItalic.eot?#iefix') format('embedded-opentype'),
		url('assets/fonts/HeavyItalic.woff') format('woff'),
		url('assets/fonts/HeavyItalic.ttf') format('truetype'),
		url('assets/fonts/HeavyItalic.svg#HeavyItalic') format('svg');
	font-weight: 900;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+000D-25CA;
}

html, body {
  -webkit-font-smoothing: antialiased; overflow-x: hidden; width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0px; padding: 0px;
  color: $grey;
  background-color: white;
  letter-spacing: .08em;
}

@media screen and (max-width: $tablet-break) {
  body { font-size: 15px; }
}

@mixin bodyfont() {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin titlefont() {
  font-family: 'HeavyItalic', sans-serif;
  font-style: italic;
  font-weight: 800;
}

h1 { font-size: 5em; letter-spacing: -.025em; line-height: 1;}
h2 {font-size: 3em; line-height: 1.5; letter-spacing: -.02em; }
h3 {font-size: 2.5em; line-height: 1.75; letter-spacing: -.02em; }
h4 {font-size: 1.4em; line-height: 1.75; letter-spacing: -.01em;}
h5 {font-size: 1.2em; line-height: 2; }
h6 {font-size: 1em; line-height: 2; }
small {font-size: 0.8em; line-height: 2; }

h1, h2, h3, h4, h5, h6 {
  @include titlefont();
  padding: 0px 0px;
  margin: 0px;
  line-height: 1.5em;
  &.body-font {
    @include bodyfont(); letter-spacing: .08em;
  }
}

p { line-height: 2.25; padding-bottom: 1em; }
.text-justify { text-align: justify; }

a, a:visited, a:hover, a:active, a:focus {text-decoration: none; color: inherit; }
b { font-weight: 700; }
i { font-style: italic; }