@mixin navColorGenerator($baseColor, $highlightColor, $textColor, $highlightTextColor) {
  ul li a {
    &:before {
      @include box-shadow(0 0 0 3px $baseColor inset);
    }
    &.current:before {
      background-color: $highlightColor;
      @include box-shadow(0 0 0 3px $highlightColor inset);
    }
    span {
      background-color: $baseColor; color: $textColor;
      &:before {
      	border-left: 4px solid $baseColor;
      }
    }
    &:hover span {
      display: block;
    }
    &.current span {
      background-color: $highlightColor; color: $highlightTextColor;
      &:before { border-left: 4px solid $highlightColor; }
    }
  }
}

[data-imm-nav="side"] { @include navColorGenerator(white, $yellow, $grey, $grey); }
[data-imm-nav="side"].grey { @include navColorGenerator($grey, $yellow, white, $grey); }
[data-imm-nav="side"].white-grey { @include navColorGenerator(white, $grey, $grey, $yellow); }

@media screen and (max-width: $tablet-break) {
  [data-imm-nav="side"] { display: none; }
}

nav.top-nav {
  position: fixed; top: 60px; right: 30px;
  z-index: 1000;
  div {
    float: right; margin-left: 1em; width: 2.5em;
    button {
      background-color: transparent; color: white;
      @include transition(color .2s linear .2s);
      i { font-size: 2em; }
    }
  }
  &.grey div button { color: $grey; }
  &.white-grey div button { color: white; }
}

@media screen and (max-width: $tablet-break) {
  nav.top-nav { top: 30px; right: 20px; }
  .imm-mute { display: none; }
}

@media screen and (max-width: $mobile-break) {
  nav.top-nav { top: 15px; right: 15px; }
}

.imm-logo-full {
  position: absolute; top: 60px; left: 50px;
  z-index: 1000;
  & > div {
    display: inline-block; position: relative;
    object { height: 45px; width: auto;}
    a { position: absolute; @include stretch(); }
  }

}

@media screen and (max-width: $tablet-break) {
  .imm-logo-full {
    top: 30px; left: 20px;
    & > div object { height: 40px; }
  }
}

@media screen and (max-width: $mobile-break) {
  .imm-logo-full {
    top: 20px; left: 15px;
    & > div object { height: 30px; }
  }
}