$grey: #43433b;
$yellow: #f5da55;
$ltblue: #d0deec;

@import "compass/reset";
@import 'compass';
@import 'compass/layout';
@import 'mixins';
@import 'scaffold';
@import 'global';
@import 'buttons';
@import 'navigation';

$jumpBezier: cubic-bezier(.25,1.43,.55,.99);

#header {
  color: white;
  h1 {
    span { color: $yellow; }
  }
  .buttons {
    padding-top: 2em;
  }
}

#boards {
  .imm-vertcenter {
    padding-bottom: 50vh;
  }
  .example-boards {
    position: absolute;
    bottom: 0; left: 0; width: 100%;
    li {
      height: 60vh; position: relative;
      button {
        @include stretch(0, 0, -30px, 0); background-color: transparent;
        @include transition(transform .4s $jumpBezier);
      }
      &:nth-of-type(1) button {
        @include bg2x(assets/images/board-1, jpg, 160px, 584px);
        background-position: top center;
      }
      &:nth-of-type(2) button {
        @include bg2x(assets/images/board-2, jpg, 143px, 575px);
        background-position: top center;
      }
      &:nth-of-type(3) button {
        @include bg2x(assets/images/board-3, jpg, 139px, 580px);
        background-position: top center;
      }
      &:hover button {
        @include translateY(-20px);
        @include transition(transform .4s $jumpBezier);
      }
    }
  }
}

#tutors {
  background: $yellow;
  .title { padding-top: 5vh; padding-bottom: 7vh; }
  .next { padding-top: 5vh; }
  .steve, .sarah {
    position: relative;
    img { height: 100%; width: auto; max-width: 100%; }
    .name { position: absolute; left: 0; width: 100%; @include titlefont(); color: white; line-height: 2; }
  }
  .steve {
    height: 35vh; float: right; margin-right: -30px;
    img { float: right; }
    .name { bottom: 100%; margin-bottom: 1em; border-bottom: 2px solid white; }
  }
  .sarah {
    height: 40vh; float: left; margin-top: 40px; margin-left: -120px;
    img { float: left; }
    .name { top: 100%; margin-top: .5em; border-top: 2px solid white; text-align: right; }
  }
}

#learn {
  padding-top: 200px;
  padding-bottom: 200px;
  p.lead { margin-top: 3em; }
  .surfers-bondi {
    margin: 50px 0;
  }
  h2 i { color: $yellow; }
}

#join {
  background-color: $ltblue;
}