$grey: #43433b;
$yellow: #f5da55;
$ltblue: #d0deec;

@import "compass/reset";
@import 'compass';
@import 'compass/layout';
@import 'scaffold';
@import 'global';
@import 'buttons';
@import 'navigation';

#header {
  color: white;
  h1 {
    span { color: $yellow; }
  }
  .buttons {
    padding-top: 2em;
  }
}

#lessons {
  background: $yellow;
}